<p>
  <strong>Title:</strong>
  <%= @calender.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @calender.body %>
</p>

<%= link_to 'Edit', edit_calender_path(@calender) %> |
<%= link_to 'Back', calenders_path %>