<div class="about">
  <div class="about__main">
    <%= image_tag 'image1.jpg' %>
    <h2 class="about__title">このサイトについて</h2>
    <div class="bg1"></div>
  </div>

  <div class="about__greeting">
    <div class="about__contents">
      <%= image_tag 'image4.jpg' %>
      <div class="about__content">
        <h2>このサイトの使い方</h2>
        <p>このサイトは日々の筋トレを記録出来る筋トレ日記のようなサイトです。</p>
        <p>１日の終わりに今日やった筋トレのメニューや画像を投稿し、いつでも見返すことができます。</p>
      </div>
    </div>
  </div>
</div>