<div class="top">
  <ul class="bxslider">
    <li class="top__title"><%= image_tag 'image8.jpg' %>
      <h1 class="top__title">Muscle_Dairy</h1>
      <p class="top__sub-title">筋トレが好きな人のために</p>
    </li>
    <li class="top__title"><%= image_tag 'image6.jpg' %>
      <h1 class="top__title">Muscle_Dairy</h1>
      <p class="top__sub-title">これから筋トレを始めたい人のために</p>
    </li>
    <li class="top__title"><%= image_tag 'image7.jpg' %>
      <h1 class="top__title">Muscle_Dairy</h1>
      <p class="top__sub-title">今まで挫折してきた人のために</p>
    </li>
  </ul>
</div>