// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-content {
  justify-content: space-evenly;
  display: flex;
  margin-top: 10px;
}

.header-right {
  margin-right: 20px;
}

.about__main {
  position: relative;
  height: 600px;
  margin-top: 80px;

  img {
    width: 70%;
    height: 600px;
    object-fit: cover;
    margin-left: 30%;
  }

  h2 {
    position: absolute;
    top: 30%;
    left: 20%;
    background: rgba(255, 255, 255, 0.6);
    font-size: 4rem;
    padding: 25px;
    font-weight: bold;
  }
}

.bg1 {
  background: #e8e7e7;
  height: 800px;
  width: 45%;
  position: absolute;
  top: -18%;
  left: 0;
  z-index: -1;
}

.about__greeting {
  margin-top: 90px;
  text-align: center;
}

.about__greeting .about__contents {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;

  img {
    width: 50%;
    height: 600px;
  }
}

.about__greeting .about__content {
  width: 48%;
}

.bxslider img{
  width: 100% !important;
  height: 600px !important;
}

.top__title {
  color: black;
  font-size: 30px;
}

.top {
  position: relative;
  background-color: black;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    font-family :Quicksand, sans-serif;
    background: rgba(200, 200, 200, 0.5);
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top: 70px;
    background: rgba(200, 200, 200, 0.5);
  }
}

.about__title2 {
  font-size: 30px;
  padding-bottom: 20px;
}

.about__content p {
  padding: 10px 0;
}

.about__greeting {
  margin-bottom: 30px;
}
