// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-content {
  justify-content: space-evenly;
  display: flex;
  margin-top: 10px;
}

.header-right {
  margin-right: 20px;
}
