// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page__top-info {
  display: flex;
  border: double 4px #333;

  h2 {
    margin-left: 30px;
  }
}

user-page__table {
  width: 300px;
  td {
    width: 50px;
  }

  th {
    width: 50px;
  }
}

.user-edit__form-group label {
  margin-top: 20px;
}
.user-edit__image label {
  margin-top: 20px;
}

.user-page__my-images {
  display: flex;
  justify-content: space-space-evenly;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.user-page__image-box img {
  width: 32% !important;
  height: 300px;
  margin: 10px 10px 10px 0;

}

.user-page__image-box a:hover {
  opacity:0.6;
  filter: alpha(opacity=60);
  -ms-filter: "alpha( opacity=60 )";
  background: #fff;
}
